/* For background cover */
body {
  background-image: url("bg_2.jpeg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  opacity: 50;
}
.topnav {
  overflow: hidden;
  border-radius: 10px;
  padding: 8px;
  background-color: white;
  opacity: 60%;
}
.topnav a.login {
  width: auto;
  border-radius: 10px;
  background-color: #2a9df1;
  color: white;
}
.topnav a {
  float: right;
  display: block;
  width: 75px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: double;
  font-size: 15px;
}
.topnav b {
  float: left;
  display: inline;
  color: black;
  text-align: right;
  padding: 14px 16px;
  text-decoration: double;
  font-size: large;
}

.topnav a,
b.active {
  background-color: #2a9df1;
  color: white;
  text-decoration: none;
}

.topnav a,
b:hover {
  background-color: white;
  color: black;
}

h1 {
  text-align: center;
}

#toplogo {
  text-align: center;
  font-weight: bold;
}
h3 {
  text-align: center;
}

h6 {
  text-align: end;
}

/* .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: ;
  height: 600px;
  border-radius: 10 px;
  background-color: white;
  opacity: 50%;
} */

#contentslogan {
  text-align: left;
  margin-left: 30px;
  font-weight: bolder;
  font-size: xx-large;
}
#contentsmall {
  text-align: left;
  margin-left: 20px;
  font-size: large;
}
.contentbox {
  /* display: flex; */
  width: 550px;
  height: 400px;
  background-color: white;
  border-radius: 20px;
  margin: 30px;
  opacity: 75%;
  padding: 20px;
  /* align-items: center; */
}
.radio_style {
  height: 50px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  font-size: large;
}
.choice_time {
  display: flex;
  align-items: center;
  /* justify-content: end;   */
  flex-direction: row;
  width: 400px;
  height: 50px;
}
#con_align {
  width: 195px;
  text-align: right;
}

select {
  display: flex;
  justify-content: end;
  width: 205px;
  height: 25px;
}

.choice_date {
  display: flex;
  /* justify-content: end; */
  flex-direction: row;
  width: 400px;
  height: 50px;
}
#date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}
#label_date {
  width: 195px;
  text-align: right;
}
#date_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}
#label_date_2 {
  width: 195px;
  text-align: right;
}
.choice_seat {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  width: 450px;
  height: 50px;
}
#option {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 155px;
}
#label_for_seat {
  width: 195px;
  text-align: right;
}
#search_flight {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #2a9df1;
  cursor: pointer;
  font-size: 14px;
  color: white;
  text-decoration: none;
}
