/* For background cover */
body {
  background-image: url("bg_1.jpeg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  opacity: 50;
}
.topnav {
  overflow: hidden;
  border-radius: 10px;
  padding: 8px;
  background-color: white;
  opacity: 60%;
}
.topnav a.login {
  width: auto;
  border-radius: 10px;
  background-color: #2a9df1;
  color: white;
}
.topnav a {
  float: right;
  display: block;
  width: 75px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: double;
  font-size: 15px;
}
.topnav b {
  float: left;
  display: inline;
  color: black;
  text-align: right;
  padding: 14px 16px;
  text-decoration: double;
  font-size: large;
}

.topnav a,
b.active {
  background-color: #2a9df1;
  color: white;
  text-decoration: none;
}

.topnav a,
b.hover {
  background-color: white;
  color: black;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-weight: bold;
}
h3 {
  text-align: center;
}

h6 {
  text-align: end;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 550px;
  /* border-radius: 10 px; */
  /* background-color: white; */
  /* opacity: 50%; */
}

.slogan {
  width: 100%;
}

.bookNow {
  width: 250px;
  height: auto;
  border-radius: 10px;
  background-color: #369de9;
  justify-content: center;
  margin-bottom: 48px;
  opacity: 90%;
}

.bookNow a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: double;
  font-size: 15px;
  text-decoration: none;
}

.bookNow a.hover {
  background-color: white;
  color: black;
}
