/* For background cover */
body {
  height: 100%;
  /* background-repeat: no-repeat;
  background-position: top;
  background-size: cover; */
  opacity: 50;
}
.bg_img {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("bg_2.jpeg");
  filter: blur(3px);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  z-index: -1;
}
.topnav {
  overflow: hidden;
  border-radius: 10px;
  padding: 8px;
  background-color: white;
  opacity: 80%;
  margin: 10px;
}

.topnav a.login {
  width: auto;
  border-radius: 10px;
  background-color: #2a9df1;
  color: white;
}
.topnav a {
  float: right;
  display: block;
  width: 75px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: double;
  font-size: 15px;
}
.topnav b {
  float: left;
  display: inline;
  color: black;
  text-align: right;
  padding: 14px 16px;
  text-decoration: double;
  font-size: large;
}

.topnav a,
b.active {
  background-color: #2a9df1;
  color: white;
  text-decoration: none;
}

.topnav a,
b:hover {
  background-color: white;
  color: black;
}

#toplogo {
  text-align: center;
  font-weight: bold;
}

.bottomnav {
  border-radius: 10px;
  padding: 8px;
  background-color: white;
  opacity: 80%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50px;
  margin: 10px;
}
select {
  width: 100px;
}
.refer_info {
  width: 100px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}
#search_flight {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: #2a9df1;
  cursor: pointer;
  font-size: 14px;
  color: white;
  text-decoration: none;
}
footer {
  text-align: end;
}

#allmidnav {
  display: flex;
  flex-direction: row;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

#firstnav {
  width: 200px;
  background-color: white;
  opacity: 75%;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
}

#secnav {
  width: 500px;
  background-color: white;
  opacity: 75%;
  border-radius: 10px;
  padding: 10px;
  height: auto;
}

#thirdnav {
  width: 700px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-left: 10px;
  opacity: 75%;
}
.flightbox {
  width: 480px;
  padding: 10px;
  background-color: wheat;
  opacity: 80%;
  border-radius: 10px;
  height: auto;
  margin-bottom: 10px;
}
.time_fee {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px;
}

.dis_time {
  width: 400px;
  justify-content: right;
  text-align: start;
  font-weight: bolder;
  font-size: x-large;
}
.dis_money {
  width: 60px;
  font-weight: bold;
  font-size: x-large;
  color: green;
}
.detail {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
