/* For background cover */
body {
  background-image: url("bg_1.jpeg");
  height: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  opacity: 50;
}
.topnav {
  overflow: hidden;
  border-radius: 10px;
  padding: 8px;
  background-color: white;
  opacity: 60%;
}
.topnav a.login {
  width: auto;
  border-radius: 10px;
  background-color: #2a9df1;
}
.topnav a {
  float: right;
  display: block;
  width: 75px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: double;
  font-size: 15px;
}
.topnav b {
  float: left;
  display: inline;
  color: black;
  text-align: right;
  padding: 14px 16px;
  text-decoration: double;
  font-size: large;
}

.topnav a,
b.active {
  background-color: #2a9df1;
  color: white;
}

.topnav a,
b.hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-weight: bold;
}
h3 {
  text-align: center;
}

h6 {
  text-align: end;
}

.wrap {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;

  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  height: 550px;
  width: 500px;
  border-radius: 10px;
  background-color: white;
  opacity: 95%;
}

.content #log_in_buttom {
  width: 75px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: double;
  font-size: 15px;
}

.content a {
  width: 75px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: double;
}
.content a.active {
  background-color: #2a9df1;
  color: white;
}
.content a.hover {
  background-color: white;
  color: black;
  text-decoration: none;
}
.content #logo a {
  width: auto;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
}
.content .dirsignup a {
  padding: 0;
  margin: 0;
}

.content .userdetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  background-color: whitesmoke;
  opacity: 80%;
  border-radius: 10px;
}

.checkuserdetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  background-color: whitesmoke;
  opacity: 80%;
}

.content input[type="text"] {
  width: 400px;
  height: 50px;
  text-align: center;
  background-color: whitesmoke;
  border: 300px;
  font-size: large;
  border-radius: 10px;
}

.content .namedetail input[type="text"] {
  width: 193px;
  background-color: whitesmoke;
  border-radius: 10px;
}

.content input[type="password"] {
  width: 400px;
  height: 50px;
  text-align: center;
  background-color: whitesmoke;
  border: 300px;
  font-size: large;
  border-radius: 10px;
}

.namedetail {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 400px;
  height: 50px;
  border-radius: 10px;
  background-color: white;
  opacity: 95%;
}
button {
  color: white;
  border-radius: 10px;
  background-color: #2a9df1;
  width: 100px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: double;
  font-size: 15px;
  cursor: pointer;
}
