<Layouts.app flash={@flash} current_scope={@current_scope}>
  <div class="albert-card mx-auto max-w-3xl text-center">
    <h2 class="text-3xl font-bold">ABOUT US</h2>

    <h3 class="mt-6 text-xl font-semibold">Welcome to ALBERT!</h3>
    <p class="mt-2 text-lg">
      We're thrilled to have you on board. Our journey began with a vision to
      revolutionize how people experience flight reservations. We proudly
      present an innovative online platform designed to cater to the needs of
      both passengers and airline administrators.
    </p>

    <h3 class="mt-6 text-xl font-semibold">Our Mission</h3>
    <p class="mt-2 text-lg">
      At ALBERT, our mission is to simplify the flight booking process and
      enhance operational efficiency for airline companies. We strive to
      provide passengers with a user-friendly platform that empowers them to
      find and book flights that match their preferences seamlessly.
    </p>

    <h3 class="mt-6 text-xl font-semibold">Our Story</h3>
    <p class="mt-2 text-lg">
      The idea behind ALBERT originated from the desire to bridge the gap
      between passengers and airline administrators. We noticed a need for a
      streamlined, comprehensive system that would make flight reservations
      effortless while also providing airlines with powerful management tools.
    </p>

    <h3 class="mt-6 text-xl font-semibold">What We Offer</h3>
    <p class="mt-2 text-lg">
      Our platform offers a comprehensive solution for both passengers and
      airline administrators. Passengers can enjoy:<br />
      - Convenient flight searching with advanced filters<br />
      - Secure and quick flight booking<br /> - Personalized user profiles for smoother management
    </p>

    <h3 class="mt-6 text-xl font-semibold">Our Team</h3>
    <p class="mt-2 text-lg">
      Behind Albert is a team of dedicated professionals with expertise in
      fields such as web development, UI/UX design, and data analysis. We
      share a common passion for transforming the travel experience.
    </p>

    <h3 class="mt-6 text-xl font-semibold">Thank You!!!</h3>
    <p class="mt-2 text-lg">
      Thank you for taking the time to learn about Albert. We're excited to
      have you on this journey as we redefine the flight reservation
      experience for passengers and airlines alike.
    </p>
  </div>
</Layouts.app>
